[submodule "speechio/third_party/abseil-cpp"]
	path = speechio/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "speechio/third_party/kenlm"]
	path = speechio/kenlm
	url = https://github.com/kpu/kenlm
