.DS_Store
config/credential/*.cfg

__pycache__

*.json
log.*
log
*.log
tmp*
*.pt

build

# oss
.ossutil_checkpoint
ossutil_output

model/tokenizer
data/audio/*
!data/audio/MINI
!data/audio/zoo.yaml
data/text/*
!data/text/zoo.yaml

util/oss

test/*
test.wav

toolkit/speechbrain
toolkit/wenet
