.DS_Store
credentials/*.cfg

*.so
*.a
*.fsm

__pycache__

.vscode
log
*.log
tmp*
*.pt
*.pts
nohup.out

# oss
.ossutil_checkpoint
ossutil_output
oss

libsio

!data/audio/MINI

test/*
test.wav

wenet
kaldi_dist
libtorch
libtorch-shared-with-deps-latest.zip
