.DS_Store
credentials/*.cfg

*.so
*.a
*.fsm

__pycache__

.vscode
*.log
log.*
tmp
tmp.*
nohup.out

# oss
.ossutil_checkpoint
ossutil_output
oss

wenet

!data/audio/MINI
!data/audio/README.md
data/audio

!data/text/MINI.txt
data/text

# generated resources
mean_var_norm.txt
mean_var_stats.json

tokenizer.vocab
tokenizer.model

checkpoints
average.pt
final.pts

lm.txt
lm.arpa
lm.trie
lm.vocab

test.hyp
test.ref
test.tsv
RESULT

